/Java/Leccion 1/HolaMundo/nbproject/private/
/Java/Leccion 1/HolaMundo/build/
/Java/Clase 6/TiendaDeLibros/nbproject/private/
/Java/Clase 3/Detalles_Libro/nbproject/private/
/Java/Clase 3/Detalles_Libro/build/
/Java/HolaMundo/nbproject/private/
/Java/HolaMundo/build/
/Java/Leccion 1/HolaMundo/dist/
/Java/Leccion 2/Leccion 2/nbproject/private/
/Java/Leccion 2/DetallesLibro/nbproject/private/
/Java/Leccion 2/DetallesLibro/build/
/Java/Leccion 3/Leccion 3/nbproject/private/
/Java/Leccion 3/Leccion 3/build/
/Java/HolaMundo/dist/
/Java/Ejercicio1_TiendaDeLibros/nbproject/private/
/Java/Ejercicio1_TiendaDeLibros/build/
/Java/Ejercicio2_HorasTrabajadas/nbproject/private/
/Java/Leccion 1/DetallesLibro/build/
/Java/Leccion 1/DetallesLibro/nbproject/private/
/Java/Leccion 1/Ejercicio1_TiendaDeLibros/build/
/Java/Leccion 1/Ejercicio1_TiendaDeLibros/nbproject/private/
/Java/Leccion 1/Ejercicio2_HorasTrabajadas/nbproject/private/
/Java/Leccion 1/Ejercicio3_Rectangulo/nbproject/private/
/Java/Leccion 1/Ejercicio3_Rectangulo/build/
/Java/Leccion 1/Ejercicio4_MayorDosNumeros/nbproject/private/
/Java/Leccion 1/Ejercicio4_MayorDosNumeros/build/
/Java/Leccion 1/Ejercicio5_Calificaciones/nbproject/private/
/Java/Leccion 1/Ejercicio5/nbproject/private/
/Java/Leccion 1/Ejercicio5/build/
/Java/Leccion 1/Ejercicio6/nbproject/private/
/Java/Leccion 1/Ejercicio6/build/
/Java/Leccion 1/Ejercicio7/nbproject/private/
/Java/Leccion 1/Ejercicio7/build/
/Java/Leccion 2/JavaApplication19/nbproject/private/
/Java/Leccion 2/Leccion_2/nbproject/private/
/Java/Leccion 2/Leccion_2/build/
/Java/Leccion 2/CondicionalEjercicio_1/nbproject/private/
/Java/Leccion 2/CondicionalEjercicio_1/build/
/Java/Leccion 2/CondicionalEjercicio_2/nbproject/private/
/Java/Leccion 2/CondicionalEjercicio_2/build/
/Java/Leccion 2/CondicionalEjercicio_3/nbproject/private/
/Java/Leccion 2/CondicionalEjercicio_3/build/
/Java/Leccion 2/CondicionalEjercicio_4/nbproject/private/
/Java/Leccion 2/CondicionalEjercicio_4/build/
/Java/Leccion 2/Clase11_Ejercicio1/Ejercicio1/nbproject/private/
/Java/Leccion 2/Clase11_Ejercicio1/Ejercicio1/build/
/Java/Leccion 2/Clase11_Ejercicio1/Clase11_Ejercicio1/nbproject/private/
/Java/Leccion 2/Clase11_Ejercicio2/Clase11_Ejercicio2/nbproject/private/
/Java/Leccion 2/Clase11_Ejercicio2/Clase11_Ejercicio2/build/
/Java/Leccion 2/Clase11_Ejercicio3/Clase11_Ejercicio3/nbproject/private/
/Java/Leccion 2/Clase11_Ejercicio3/Clase11_Ejercicio3/build/
/Java/Leccion 1/Leccion_1/Leccion_1/nbproject/private/
Python/.idea/.gitignore
Python/.idea/misc.xml
Python/.idea/modules.xml
Python/.idea/Python.iml
Python/.idea/vcs.xml
Python/.idea/inspectionProfiles/profiles_settings.xml
